.DS_Store
RoundedHorizontalBar.xcodeproj/xcuserdata/adamhunter.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RoundedHorizontalBar.xcodeproj/project.xcworkspace/xcuserdata/adamhunter.xcuserdatad/UserInterfaceState.xcuserstate
